nav {
    display: flex;
    overflow: auto;
    max-height: min-content;
    gap: 20px;
    padding: 16px;
}

nav::-webkit-scrollbar {
    display: none;
}

button {
    min-width: fit-content !important;
    max-height: min-content;
}

p {
    max-height: min-content;
    min-width: max-content;
}

@media (min-width: 562px) {
    nav {
        justify-content: space-between;
    }
}

@media (min-width: 600px) {
    nav {
        padding: 16px 24px;
    }
}