.footer {
    background-color: #802c6e;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 16px;
    height: 112px;
}

@media (min-width: 600px) {
    .footer {
        padding: 0 24px;
        height: 64px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}